html, body {
	background-color: #fcfcfc;
	margin: 0;
}

#navbar {
	width: 100%;
	background-color: #0b6623;
	position: fixed;
	z-index: 300;
}

.navLink {
	display: inline-block;
	float: left;
	border: none;
	height: 100%;
	padding: 20px;
	background-color: transparent;
	font-size: 20px;
	color: #fcfcfc;
	position: relative;
	transition: 0.2s ease;
}

.navLink:hover {
	background-color: #50C878;
	color: #000000;
	cursor: pointer;
}

#searchBox {
	box-sizing: border-box;
	background-color: #fcfcfc;
	border: none;
	border-top: 19px solid #0b6623;
	border-bottom: 19px solid #0b6623;
	font-size: 20px;
	position: relative;
	transition: 0.2s ease;
	float: right;
	margin-right: 10px;
}

.content {
	width: 100%;
	min-height: 400px;
	padding-top: 60px;
	margin: 0 auto;
	padding-bottom: 50px;
}

.content h2 {
	margin: 0;
	width: 100%;
	display: block;
	padding: 50px 0;
	background-color: #444C38;
	text-align: center;
	font-family: sans-serif;
	color: #fcfcfc;
	font-weight: normal;
	font-size: 50px;
}

.getStartedButton {
	margin: 50px auto;
	width: 768px;
	padding: 40px 0px;
	display: block;
	background-color: #A9BA9D;
	border-radius: 20px;
	border: none;
	color: #fcfcfc;
	font-size: 30px;
	transition: 0.2s ease;
}

.getStartedButton:hover {
	background-color: #0b6623;
	cursor: pointer;
}

.content #homeTable {
	width: 100%;
}

.content #homeTable tr th {
	width: 50%;
	box-sizing: border-box;
	font-size: 30px;
	font-family: sans-serif;
	padding: 50px 0;
}

#loginForm {
	margin: 50px auto;
	background-color: #0b6623;
	color: #fcfcfc;
	font-family: sans-serif;
	width: 200px;
	padding: 20px;
	border-radius: 20px;
}

.loginTextBox {
	margin-bottom: 20px;
	width: 100%;
}

#profileImg {
	display: block;
	margin: 50px auto;
	width: 200px;
	border-radius: 100%;
}

.content h3 {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-family: sans-serif;
	font-size: 30px;
}

#profileTable {
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 18px;
}

#profileTable tr td {
	padding-top: 20px;
	border-bottom: 2px dotted #999;
}

#profileTable tr .leftTable {
	width: 100px;
}

#profileTable tr .rightTable {
	width: 500px;
	text-align: right;
}

#profileBio {
	width: 600px;
	font-family: sans-serif;
	text-align: justify;
	display: block;
	margin: 10px auto;
	line-height: 1.6;
	font-size: 18px;
	text-indent: 40px;
}

#filterProjects {
	width: 600px;
	margin: 10px auto;
	margin-bottom: 50px;
	display: block;
	text-align: left;
}

.listingPost {
	width: 600px;
	display: block;
	margin: 0 auto;
	margin-bottom: 100px;
}

.listingPost a {
	text-align: center;
	width: 100%;
	display: block;
}

.listingPost h3 {
	text-align: left;
	font-size: 22px;
	width: 100%;
	display: block;
}

.projectPosted {
	margin-left: 20px;
	font-size: 10px;
	font-style: italic;
	color: #aaaaaa;
	text-align: right;
}

.projectDescription {
	font-size: 16px;
	margin: 0;
	width: 100%;
	max-height: 58px;
	overflow: hidden;
	text-align: justify;
	z-index: 1;
}


#newPostTable {
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 18px;
	position: relative;
}

#newPostTable tr td {
	padding-top: 20px;
	vertical-align: top;
}

#newPostTable tr .leftTable {
	width: 200px;
}

#newPostTable tr .rightTable {
	width: 400px;
	text-align: right;
}

#newPostTitle, #newPostTags {
	float: right;
	width: 400px;
	font-size: 12px;
}

#newPostDescription {
	float: right;
	width: 400px;
	height: 100px;
	word-break: break-all;
	resize: vertical;
	font-family: sans-serif;
	font-size: 12px;
}


