html, body {
	background-color: #fcfcfc;
	margin: 0;
}

#navbar {
	width: 100%;
	background-color: #0b6623;
	position: fixed;
}

.navLink {
	display: inline-block;
	float: left;
	border: none;
	height: 100%;
	padding: 20px;
	background-color: transparent;
	font-size: 20px;
	color: #fcfcfc;
	position: relative;
	transition: 0.2s ease;
}

.navLink:hover {
	background-color: #50C878;
	color: #000000;
	cursor: pointer;
}

#searchBox {
	box-sizing: border-box;
	background-color: #fcfcfc;
	border: none;
	border-top: 19px solid #0b6623;
	border-bottom: 19px solid #0b6623;
	font-size: 20px;
	position: relative;
	transition: 0.2s ease;
	float: right;
	margin-right: 10px;
}

.content {
	width: 100%;
	min-height: 400px;
	padding-top: 60px;
	margin: 0 auto;
	padding-bottom: 50px;
}

.content h2 {
	margin: 0;
	width: 100%;
	display: block;
	padding: 50px 0;
	background-color: #444C38;
	text-align: center;
	font-family: sans-serif;
	color: #fcfcfc;
	font-weight: normal;
	font-size: 50px;
}

.getStartedButton {
	margin: 50px auto;
	width: 768px;
	padding: 40px 0px;
	display: block;
	background-color: #A9BA9D;
	border-radius: 20px;
	border: none;
	color: #fcfcfc;
	font-size: 30px;
	transition: 0.2s ease;
}

.getStartedButton:hover {
	background-color: #0b6623;
	cursor: pointer;
}

.content #homeTable {
	width: 100%;
}

.content #homeTable tr th {
	width: 50%;
	box-sizing: border-box;
	font-size: 30px;
	font-family: sans-serif;
	padding: 50px 0;
}

#loginForm {
	margin: 50px auto;
	background-color: #0b6623;
	color: #fcfcfc;
	font-family: sans-serif;
	width: 200px;
	padding: 20px;
	border-radius: 20px;
}

.loginTextBox {
	margin-bottom: 20px;
	width: 100%;
}

#profileImg {
	display: block;
	margin: 50px auto;
	width: 200px;
	border-radius: 100%;
}

.content h3 {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-family: sans-serif;
	font-size: 30px;
}

#profileTable {
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 18px;
}

#profileTable tr td {
	padding-top: 20px;
	border-bottom: 2px dotted #999;
}

#profileTable tr .leftTable {
	width: 100px;
}

#profileTable tr .rightTable {
	width: 500px;
	text-align: right;
}

#profileBio {
	width: 600px;
	font-family: sans-serif;
	text-align: justify;
	display: block;
	margin: 10px auto;
	line-height: 1.6;
	font-size: 18px;
	text-indent: 40px;
}